.channel-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-family: 'Montserrat Alternates';
}

.channel-avatar {
	
}

.selected {
	background-color: var(--faded-blue);
}