.found-game h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 8px;
}

.found-game p {
    font-size: 30px;
    text-align: center;
}

.game-choice {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
}

@media (min-width: 100px) and (max-width: 768px) {
    .found-game p  {
        font-size: 20px;
    }

    .found-game h1 {
        font-size: 60px;
    }
}