#root {
  background: linear-gradient(
      249.66deg,
      #f5f5f5 29.05%,
      rgba(245, 245, 245, 0) 67.24%
    ),
    linear-gradient(
      335.12deg,
      #b8e4e8 25.81%,
      #add7b6 43.04%,
      #ecdb9a 70.21%,
      #efbd99 84.79%
    );
}

.opened-nav-margin {
  width: 80%;
  margin-left: 20%;
}
