
.findfriends-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction : row;
}

.findfriendtab{
   
    display: flex;
    align-content: flex-center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
