
.findfriends-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height: 100vh;
    flex-wrap: wrap;
}

.line {
    margin: 0 10%;
    width: 80%;
    border: 1px solid var(--faded-black);
}