.friends-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  gap: 50px;
  /* flex-wrap: wrap; */
  height: 100vh;
  padding-left: 15%;
  padding-right: 5%;
  padding-top: 5vh;
}

.friends-container h2 {
  font-weight: 600;
  font-size: 20px;
}

.my-friends-container {
  height: 20vh;
}

.text {
  font-size: 15px;
  width: 100%;
  font-style: italic;
  padding-left: 3%;
}

.friend-inside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.all-friends-cards {
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
