.homepage h1 {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.signing-option button {

  /* display: flex;
  align-items: center;
  justify-content: center; */

  width: 228px;
  height: 64px;
  
  background: #000000;
  border-radius: 14px;

  /* Text */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

