.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    flex-direction: column;
}

.user-name {
  font-weight: 500;
  font-size: 15px;
}

.user-level {
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
}

.avatar{
    width: 63px;
height: 59px;
}
