.user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;

    font-family: 'Montserrat Alternates';
}

.user-name {
    font-weight: 500;
    font-size: 15px;
}

.user-level {
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
}