#root {
  background: linear-gradient(249.66deg, #F5F5F5 29.05%, rgba(245, 245, 245, 0) 67.24%), linear-gradient(335.12deg, #B8E4E8 25.81%, #ADD7B6 43.04%, #ECDB9A 70.21%, #EFBD99 84.79%);
}

.homepage h1 {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  letter-spacing: 0.11em;

  color: var(--black);
}

@media (min-width: 100px) and (max-width: 768px) {
  .homepage {
    row-gap: 30px !important;
  }

  .homepage h1 {
    font-size: 30px;
    line-height: 40px;
  }
}